.headerNav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerMenu{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-right: 20px;
}
@media screen and (min-width: 982px) {
  .headerMenu{
    gap: 130px;
  }
  
}