.appointmentFormContainer {
  display: flex;
  flex-direction: column;
  gap: 40px;
  width: 100%;
}

.formContainer {
  width: 100%;
  display: grid;
  gap: 16px 8px;
  grid-template-columns: 1fr;
  margin-bottom: 40px;
}

.phoneInputContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 8px;
}
