.formContainer {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: repeat(4, 1fr);
  grid-gap: 18px 8px;
  margin-bottom: 40px;
}

.appointmentFormContainer {
  display: flex;
  flex-direction: column;
  width: 600px;
  gap: 40px;
}
.formItem1, .formItem4, .formItem5{
  grid-column: span 2;
}