.psychologiesItem {
  background-color: var(--light-gray);
  border-radius: 24px;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-column-gap: 24px;
  padding: 24px;
}

.psychologistAvatar {
  width: 96px;
  height: 96px;
  border-radius: 15px;
  
}

.psychologistAvatarContainer {
  border: 2px solid rgba(84, 190, 150, 0.2);
  border-radius: 30px;
  position: relative;
  gap: 24px;
  height: 120px;
  width: 120px;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  border-color: var(--body-color);
  position: absolute;
  top: 9px;
  right: 14px;
  background-color: var(--light-gray);
  display: flex;
  align-items: center;
  justify-content: center;
}

.greenCircle {
  background-color: var(--lime-green);
  border-radius: 50%;
  width: 9.33px;
  height: 9.33px;
}

.psychologistInfo {
  display: flex;
  justify-content: space-between;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 28px;
}

.rating {
  position: relative;
}

.rating::before {
  content: "";
  display: block;
  width: 1px;
  background-color: rgba(25, 26, 21, 0.2);
  position: absolute;
  height: 16px;
  top: 4px;
  right: -16px;
}

.ratingPriceContainer {
  display: flex;
  gap: 32px;
}

.heartBtn {
  border: none;
  background-color: inherit;
}

.name {
  font-size: 24px;
  margin-bottom: 24px;
}

.price {
  color: var(--lime-green);
  font-weight: 500;
}

.type {
  text-align: left;
}

.about {
  text-align: left;
  margin-bottom: 14px;
  margin-top: 24px;
}

.readMoreLink {
  text-decoration: underline;
  text-align: left;
}
.activeNavLink {
  display: none;
}
