.btn {
  border: 1px solid rgba(25, 26, 21, 0.2);
  border-radius: 30px;
  padding: 14px 39px;
  background-color: transparent;
  position: relative;
  overflow: hidden;
  transition: transform 2000ms ease;
}

.textColor {
  color: rgba(25, 26, 21, 1);
}

.btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  width: 124px;
  height: 48px;
  border-radius: 30px;
  background-color: rgba(25, 26, 21, 0.2);
  transition: transform 2500ms ease;
  transform: translateX(-100%);
  z-index: 1;
}
.btn:hover::before {
  transform: translateX(0);
  display: block;
  opacity: 1;
  transition: transform 2000ms ease;
}
